@model Park.Models.Usuario

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles de los usuarios</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Us_Pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Us_Pass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Us_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Us_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Us_fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Us_fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Us_Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Us_Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Us_Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Us_Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Us_Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Us_Telefono)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Us_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
