@model IEnumerable<Park.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Us_Pass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Us_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Us_fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Us_Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Us_Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Us_Telefono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Us_Pass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Us_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Us_fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Us_Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Us_Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Us_Telefono)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Us_ID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Us_ID }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Us_ID })
        </td>
    </tr>
}

</table>
