@model List<MVCCrud.Models.ViewModels.ListParkViweModel>
@{
    ViewBag.Title = "Datos Park";
}

<h2>@ViewBag.Title</h2>

<div class="row" style="text-align:right;padding:5px;">
    <a href="~/Park/Nuevo" class="btn btn-primary">Nuevo</a>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>#</th>
                <th>Direccion</th>
                <th>Nombre</th>
                <th>Pisos</th>
                <th>Usuario</th>
                <th>Tipo tarifa</th>
                <th>Valor tarifa</th>
            </tr>
            @foreach (var oElemento in Model)
            {
            <tr>
                <td>@oElemento.Park_ID</td>
                <td>@oElemento.Park_direccion</td>
                <td>@oElemento.Park_Name</td>
                <td>@oElemento.Park_Piso</td>
                <td>@oElemento.Us_ID</td>
                <td>@oElemento.Park_Tarifa</td>
                <td>@oElemento.Park_Val_Tarifa</td>
                <td>
                    <a class="btn btn-default" href="~/Park/Editar/@oElemento.Park_ID">Editar</a>
                    <a class="btn btn-danger" href="~/Park/Eliminar/@oElemento.Park_ID">Eliminar</a>
                </td>
            </tr>

            }
        </table>
    </div>

</div>

